<body>
    <div class="container">
        <div class="row">
            <h1>{{appname}} {{version}}</h1>
        </div>
        <div class="row">
            {{>uploadform}}
        </div>
    </div>
</body>