<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{appname}}</title>

    <!--move paths into a configuration variable-->
    <link href={{bootstrap_css}} rel="stylesheet"> 
    <script src={{bootstrap_js}}></script>
    <link href={{main_css}} rel="stylesheet">
</head>