<form enctype="multipart/form-data" action="." method="POST">
    <div class="form-group">
        <label for="csvupload">Upload a CSV file:</label>
        <input type="file" class="form-control" accept="text/csv">
        <button class="btn btn-primary" value="Upload file" type="submit">Upload file</button>
    </div>
</form>