<form enctype="multipart/form-data" action="." method="POST">
    <div class="form-group">
        <label for="csvupload">Upload a CSV file:</label>
        <input type="file" class="form-control" accept="text/csv" name="csvfile">
        <button class="btn btn-primary" value="Upload file" type="submit">Upload file</button>
    </div>
</form>
{{#uploadresult}}
<div class="alert alert-{{#success}}success{{/success}}{{#error}}danger{{/error}} alert-dismissible" role="alert">
  {{#success}}<strong>Success!</strong> CSV file was uploaded and content saved in the database.{{/success}}
  {{#error}}<strong>Error!</strong> {{{error}}}{{/error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/uploadresult}}